= render partial: "components/dimension"
= render partial: "components/radio"
= render partial: "components/select"
= render partial: "components/dropdown"
= render partial: "components/category"
= render partial: "components/confirm_window"