.positions
  &__form
    padding-top: 25px
    min-width: 410px

    .label
      font-size: 14px
    
    .radio__button
      font-size: 14px
      padding: 7px 15px
      height: 33px
    
    .select
      height: 33px
      
      &__current
        padding: 8px 25px 6px 13px
      
      &__list
        top: 33px

      &__item
        padding: 6px 14px

    input[type="text"]
      height: 33px
      padding-left: 8px

    #title
      input[type="text"]
        width: 308px
        
    #category
      .select
        width: 200px
        
    #weight
    #weight_min
      width: 162px
    
    #price
      width: 200px
    
    #discount
      width: 111px

    #description
      margin-top: -15px
      max-width: 795px
    
    #address
      display: block
      
      input[type="text"]
        width: 100%
        
  &__template
    &-btn
      i
        position: relative
        top: 2px
        left: 8px
        padding: 0 4px

  &__address
    margin-left: 40px
      
  &__map
    height: 247px
    width: 410px
    margin-bottom: 20px
    
  &__template-dropdown
    width: 300px
    height: 100px
    z-index: 2