.positions
  &__form
    padding-top: 25px
    width: 720px

    .label
      font-size: 14px
    
    .radio__button
      font-size: 14px
      padding: 7px 15px
      height: 33px
    
    .select
      height: 33px
      
      &__current
        padding: 8px 25px 6px 13px
      
      &__list
        top: 33px

      &__item
        padding: 6px 14px

    input[type="text"]
      height: 33px
      padding-left: 8px

    #title
      input[type="text"]
        width: 308px
        
    #category
      .select
        width: 200px
        
    #weight
    #weight_min
      width: 162px
    
    #price
      width: 200px
    
    #discount
      width: 111px

    #description
      margin-top: -15px
      max-width: 795px
    
    #address
      display: block
      width: 352px
      
      input[type="text"]
        width: 100%
        
  &__template
    &-dropdown
      &__list
        width: 400px
        max-height: 160px
        padding: 0
        margin: -15px
        list-style: none
        position: relative
      
      &__item
        display: block
        padding: 12px 17px
        cursor: pointer
        
        &:hover
          background: #f7f7f7

  &__address
    margin-left: 40px
      
  &__map
    height: 251px
    width: 350px
    