.message
  width: 100%
  position: relative
  margin-top: 15px
  padding-left: 50px
  padding-right: 85px
  font-size: 16px
  
  &.my
    .message__avatar
      display: none
      
    .message__body
      background: #E5F6FD

      &:before
        width: 0
        height: 0
        border-style: solid
        border-width: 12px 12px 0 0
        border-color: #E5F6FD transparent transparent transparent
        right: -10px
        left: auto
        bottom: auto
        top: 0
  
  &__body
    padding: 15px
    background: #C7ECFC
    border-radius: 5px 5px 5px 0
    line-height: 18px
    position: relative
    
    &:before
      content: ""
      display: block
      width: 0
      height: 0
      border-style: solid
      border-width: 0 0 11px 10px
      border-color: transparent transparent #C7ECFC transparent
      position: absolute
      left: -10px
      bottom: 0
      
  
  &__avatar
    width: 35px
    height: 35px
    position: absolute
    left: 7px
    bottom: 3px
    
    &:before
      content: ""
      border: 2px solid white
      left: 0px
      top: 1px
      height: 10px
      width: 10px
      z-index: 1
      background: #4caf50
      position: absolute
      border-radius: 9px
      display: inline-block
      box-sizing: border-box
    
    img
      width: 35px
      height: 35px
      border-radius: 35px
  
  &__date
    position: absolute
    right: 10px
    top: -2px
    font-size: 12px
    color: #757575