.p-messages
  &__header
    position: absolute
    top: 0
    left: 260px
    right: 0
    z-index: 1

  &__body
    position: absolute
    left: 260px
    top: 93px
    right: 0
    bottom: 146px
  
  &__contacts
    position: absolute
    left: 0
    top: 0
    bottom: 0
    z-index: 2
    
    &__header
      position: absolute
      top: 0
      left: 0
      right: 0
    
    &__body
      position: absolute
      top: 60px
      bottom: 0
      
  &__footer
    position: absolute
    left: 260px
    right: 0
    bottom: 0