.categories
  width: 700px
  
  &__search
    .icon-search
      position: absolute
      font-size: 20px
      padding: 8px
      color: #757575
      
    &__input
      height: 38px !important
      padding-left: 33px !important
      width: 100% !important