.modal
  position: relative
  background: white
  width: 310px
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1)
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1)
  
  .close
    position: absolute
    right: 12px
    top: 12px
    font-size: 16px
    cursor: pointer
    
    &:hover
      color: red
    
  &__title
    font-size: 18px
    padding: 10px 12px
    
  &__body
    padding: 12px
    
  &__footer
    padding: 12px
    background: #f0f0f0
    overflow: hidden