.sidebar.sidebar-map
  top: 90px
  left: 27px
  width: 180px
  bottom: auto !important
  padding-top: 0
  min-height: 435px
  
  nav
    a
      padding: 8px 16px

  .btn-create
    margin-left: 16px
    
  .user
    padding-left: 16px

.sidebar
  background: white
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2)
  transition: .3s
  width: 200px
  padding-top: 60px
  min-height: 495px
  
  nav
    a
      padding: 8px 28px
      display: block
      color: black
      text-decoration: none
      transition: padding .3s
      
      &:hover
        background: #FEE9A5
      
      &.active
        box-shadow: 4px 0 0px rgb(255, 219, 76) inset
        font-weight: 500
  
  .btn-create
    transition: margin .3s
    margin: 32px 16px 20px 27px
  
  footer
    position: absolute
    width: 100%
    bottom: 0
    background: #F0F0F0
    margin-top: 20px
    transition: .3s
  
    nav
      a
        color: #7A7A7A
  
        &:hover
          background: #e7e7e7
  
  .user
    padding: 16px 16px 16px 27px
    transition: .3s
    display: block
    text-decoration: none
    color: #333
    
    &:hover
      background: #e7e7e7
  
    &__avatar
      img
        height: 40px
        width: 40px
        border-radius: 40px
        float: left
        border: 1px solid rgb(140, 140, 140)
  
    &__info
      margin-left: 50px
      padding: 7px 3px
  
    &__name
      font-size: 13px
  
    &__status
      font-size: 11px
      color: #777777