.sidebar
  width: 180px
  background: white
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2)
  
  nav
    a
      padding: 8px 16px
      display: block
      color: black
      text-decoration: none
      
      &:hover
        background: #FEE9A5
  
  .btn-create
    margin: 32px 16px 20px 16px
  
  footer
    background: #F0F0F0
    margin-top: 20px
  
    nav
      a
        color: #7A7A7A
  
        &:hover
          background: #e7e7e7
  
  .user
    padding: 16px
  
    &__avatar
      img
        height: 40px
        width: 40px
        border-radius: 40px
        float: left
        border: 1px solid rgb(140, 140, 140)
  
    &__info
      margin-left: 50px
      padding: 7px 3px
  
    &__name
      font-size: 13px
  
    &__status
      font-size: 11px
      color: #777777