@import 'colors';

.tags
  border: 1px solid #e7e7e7

  &__area
    background: white
    height: 38px
    padding: 5px

  .tag
    font-size: 13px
    height: 27px
    line-height: 26px
    white-space: nowrap
    border: 1px solid #F5B800
    background: #FFF09C
    border-radius: 2px
    color: #6A5218
    display: inline-block
    position: relative
    padding: 0 25px 0 9px
    
    .delete-tag
      font-size: 23px
      font-weight: lighter
      position: absolute
      right: 5px
      top: -2px
      cursor: pointer
      
      &:hover
        color: $red
    
  .add-tag
    float: right
    margin: 5px
    height: 28px
    line-height: 26px
    padding: 0 8px 0 0
    
    &:before
      content: "+"
      display: block
      height: 26px
      float: left
      margin-right: 8px
      border-right: 1px solid #d7b940
      font-size: 20px
      padding: 0 7px 0 8px
      font-weight: lighter