@import 'colors'

.collapse-widget
  .widget
    width: 140px
    margin-bottom: 5px
    border-radius: 38px !important
    height: 38px
    overflow: hidden
    
    &:hover
      transform: scale(1.1)
      -moz-transform: scale(1.1)
      -o-transform: scale(1.1)
      -ms-transform: scale(1.1)
      -webkit-transform: scale(1.1)
    
    &__header
      background-color: white !important
      height: 38px !important

    &__title
      line-height: 38px !important

.widget
  width: 300px
  background: white
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,.1)
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.1)
  border-radius: 3px
  transition: .3s

  &:not(:last-child)
    border-radius: 0
  
  &.active
    .close
      display: block
    
  &:not(.active)
    .widget__header
      background-color: rgba(240, 240, 240, 0.38);
      cursor: pointer
      height: 30px
      
      .widget__title
        line-height: 30px;

      &:hover
        background: white
    
    .widget__body
      height: 0
  
  &__header
    position: relative
    height: 40px
    border-bottom: 1px solid rgba(0,0,0,.1)
    transition: .3s
    
    .close
      display: none
      font-size: 16px
      position: absolute
      right: 12px;
      top: 12px;
      
      &:hover
        color: $red
        cursor: pointer
  
  &__body
    height: 350px
    overflow: hidden
    transition: .3s

  &__title
    font-size: 16px
    line-height: 41px
    text-align: center
  
  &__description
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05)
    border-bottom: solid 2px $yellow
    padding: 10px
    font-size: 12px
    text-align: center
    color: #666
    