.positions
  &__no
    font-size: 18px
    text-align: center
    padding: 30px
    color: #333

  &__form
    padding-top: 25px
    width: 720px

    .label
      font-size: 14px
    
    .radio__button
      font-size: 14px
      padding: 7px 15px
      height: 33px
    
    .select
      height: 33px
      
      &__current
        padding: 8px 25px 6px 13px
      
      &__list
        top: 33px

      &__item
        padding: 6px 14px

    input[type="text"]
      height: 33px
      padding-left: 8px

    #title
      input[type="text"]
        width: 308px
        
    #category
      .select
        width: 200px
        
    #weight
    #weight_min
      width: 162px
    
    #price
      width: 200px
    
    #discount
      width: 111px

    #description
      margin-top: -15px
      max-width: 795px
    
    #address
      display: block
      width: 352px
      
      input[type="text"]
        width: 100%
        
    #template
      width: 300px
      padding-left: 35px
    
    #is_template
      position: absolute
      z-index: 2
      margin: 8px
    &__attachments
      height: 100px
      display: inline-block
      vertical-align: top
      text-decoration: none
      
    &__attachment
      position: relative
      display: inline-block

      &__delete
        font-weight: lighter
        font-size: 21px
        color: #fff
        background: #f00
        border-radius: 15px
        display: inline-block
        position: absolute
        right: 3px
        top: -7px
        height: 18px
        width: 18px
        text-align: center
        line-height: 17px
        opacity: 0.7
        
        &:hover
          opacity: 1
      img
        height: 100px
        margin-right: 10px

    &__attachment-uploader
      position: relative
      vertical-align: top
      display: inline-block
      height: 100px
      width: 100px
      border: 1px dashed #ccc
      font-size: 40px
      font-weight: lighter
      padding: 25px 35px
      text-align: center
      color: #989898
      cursor: pointer
      
      
      &:hover
        background: #f7f7f7
      
      input[type="file"]
        display: none
        
  &__template
    &-dropdown
      &__list
        width: 400px
        max-height: 160px
        padding: 0
        margin: -15px
        list-style: none
        position: relative
      
      &__item
        display: block
        padding: 12px 17px
        cursor: pointer
        
        &:hover
          background: #f7f7f7

  &__address
    margin-left: 40px
      
  &__map
    height: 251px
    width: 350px
  
  &__table
    border: 1px solid #dddddd
    
    td
      padding: 10px 8px
      vertical-align: middle
      font-size: 13px
      border-top: 1px solid #dddddd

    tr
      cursor: pointer

    tr:hover
      background: #fafafa

    tbody.opened
      border: 1px solid #C0C0C0

      tr
        background: #fafafa
        
        &:hover .positions__btn-hover
          visibility: visible
        
        &:not(:first-child)
          &:hover
            background-color: rgba(254, 233, 165, 0.34)

        &.tr-shadow td
          box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.15) inset
  
  &__search
    i
      position: absolute
      font-size: 20px
      padding: 8px
      color: #757575
    
    input[type="text"]
      height: 36px
      width: 240px
      padding-left: 34px

  &__messages
    position: relative
    padding-right: 48px
    visibility: hidden
    
    &__count
      position: absolute
      top: 0
      right: 0
      bottom: 0
      border-left: 1px solid #d7b940
      width: 34px
      background: rgba(255,255,255,.3)
      
  &__btn-hover
    visibility: hidden
    