@media all and (max-width: 1060px)
  .p
    &-widget
      left: 730px
      right: none !important

@media all and (max-width: 1200px)
  .add-tag
    padding: 13px 14px !important

  .addon-plus
    border: none !important
    
    & ~ span
      display: none