$green: #4CAF50;

$gray: #757575;
$light_gray: #fafafa;

$blue: #2196F3;

$yellow: #FFC107;

$orange: #FF9800;

$cyan: #00BCD4;

$teal: #009688;

$red: #F44336;

#map {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.marker-label {
  z-index: 99;
  position: absolute;
  min-width: 70px;
  transition: .3s;
  color: black;
  cursor: pointer;
  margin-top: -14px;

  @mixin cluster ($color) {
    
    &:after {
      border-color: transparent darken($color, 10%) transparent transparent;
    }

    .marker-label__body {
      background: $color;

      &:before {
        background: $color;
      }
    }

    .marker-label__head {
      background: darken($color, 10%);

      &:before {
        background: darken($color, 10%);
      }
    }

    &:hover > .marker-label__body {
      background: lighten($color, 5%);
    }
  }

  &.cluster {
    &.cluster__small {
      @include cluster($green);
    }
    &.cluster__medium {
      @include cluster($yellow);
    }
    &.cluster__large {
      @include cluster($orange);
    }
    &.cluster__extra {
      @include cluster($red);
    }
  }

  &:after {
    transition: all .3s ease .3s;
    transform: rotate(0deg);
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -37px;
    border-style: solid;
    border-width: 0 14px 12px 0;
    border-color: transparent darken($blue, 10%) transparent transparent;
  }

  &__head {
    height: 15px;
    background: darken($blue, 10%);
    white-space: nowrap;
    color: white;
    font-size: 10px;
    padding: 0 5px;
    line-height: 14px;
    position: absolute;
    max-width: 115px;
    overflow: hidden;
    z-index: 1;
    top: -15px;
  }

  &__body {
    text-transform: capitalize;
    height: 25px;
    width: auto;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    min-width: 70px;
    background: $blue;
    white-space: nowrap;
    color: white;
    padding: 5px;
    line-height: 16px;
    margin: 0;
    max-width: 115px;
    transition: margin .3s ease .3s, height .3s, background .3s;
  }

  &__head:before, &__body:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 25px;
  }

  &__head:before {
    background: darken($blue, 10%);
  }

  &__body:before {
    background: $blue;
  }

  &:hover > &__body {
    background: lighten($blue, 5%);
  }

  &:hover > &__body, &:hover > &__head {
    max-width: none;
  }
}