.page
  background: white
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1)
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1)
  padding: 30px
  
  &-overlay
    position: fixed
    left: 0
    right: 0
    bottom: 0
    top: 0
    z-index: 10
  
  &__close
    font-size: 34px
    position: absolute
    right: 15px
    top: 15px
    color: #868686
    cursor: pointer
    text-decoration: none
    
    &:hover
      color: black