.p
  &-sidebar
    position: absolute
    top: 0
    left: 0
    bottom: 0
    z-index: 101

  &-search
    position: absolute
    left: 230px
    right: 400px
    top: 20px

  &-logo
    position: absolute
    left: 30px
    top: 25px
    z-index: 102
    
  
  &-search__footer
    position: absolute
    top: 38px
    left: 0
    right: 82px
    margin-top: -38px
    transition: .3s
    max-width: 917px

    .tags__area
      max-height: 0px
      
    .tag
      opacity: 0
      transition: .3s
    
    &.active
      margin-top: 0
      min-width: 387px

      .tag
        opacity: 1
      
      .tags__area
        max-height: 1000px

      .search__tags
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.11)
        min-width: 387px

  &-widget
    position: absolute
    right: 10px
    top: 0
    bottom: 0
    box-sizing: content-box
    padding: 20px
    
    .z1
      margin-bottom: 10px
    
  &-extended-search
    position: absolute
    width: 345px
    top: 60px
    right: 132px
    visibility: hidden
    transition: visibility 0s linear 0.2s, opacity 0.2s linear, right 0.2s linear
    opacity: 0
    z-index: 4
    
    
    &.show
      visibility: visible
      transition-delay: 0s
      right: 137px
      opacity: 1
    
    
  
  &-page
    position: absolute
    left: 200px
    right: 0
    top: 0
    bottom: 0
    z-index: 100