@media all and (max-width: 1200px)
  .add-tag
    padding: 0 !important
    
    &:before
      margin: 0 !important
      border: none !important

    span
      display: none

  .addon-plus
    border: none
    
    & ~ span
      display: none

@media all and (min-width: 1735px)
  .collapse-widget
    .widget
      float: left
      
@media all and (max-width: 1040px)
  .positions
    &__address
      margin: 0
    &__form
      #description
        max-width: 753px
              
@media all and (max-width: 993px)
  .positions
    &__form
      #description
        max-width: 425px
        margin-top: 0

