@media all and (max-width: 1200px)
  .add-tag
    padding: 0 !important
    
    &:before
      margin: 0 !important
      border: none !important

    span
      display: none

  .addon-plus
    border: none
    
    & ~ span
      display: none

@media all and (max-width: 1100px)
  .extended-search
    left: 0
    right: auto

@media all and (max-width: 1055px)
  .p-widget.expand-widget
    left: 705px
    right: auto
      
@media all and (max-width: 1040px)
  .positions
    &__address
      margin: 0
    &__form
      #description
        max-width: 753px
        

@media screen and (max-height: 500px)
  .sidebar
    height: 500px