.sidebar {
  width: 180px;
  position: absolute;
  top: 100px;
  left: 27px;
  z-index: 1;
  background: white;
  box-shadow: 1px 2px 3px rgba(0,0,0,.2);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    padding: 8px 16px;
    display: block;

    &:hover {
      background: #FEE9A5;
    }
  }

  &__create {
    margin: 32px 16px 20px 16px;
  }

  &-gray {
    background: #F0F0F0;
    margin-top: 20px;

    .sidebar__link {
      color: #7A7A7A;

      &:hover {
        background: #e7e7e7;
      }
    }

  }

  &__user {
    padding: 16px; 

    &__avatar {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      float: left;
      border: 1px solid rgb(140, 140, 140);
    }

    &__info {
      margin-left: 50px;
      padding: 7px 3px;
      
      &__name {
        font-size: 13px;
      }

      &__status {
        font-size: 11px;
        color: #777777;
      }
    }

  }
}