.sign
  input[type="text"]
  input[type="email"]
  input[type="password"]
    width: 200px
    
  #fullname
    display: block
    float: none
    
    input[type="text"]
      width: 100%;
      
  #is_company
    position: absolute
    z-index: 1
    margin: 9px
  
  #company
    float: none
    
    input[type="text"]
      width: 100%
      padding-left: 36px

  &__in
    input[type="text"]
    input[type="email"]
    input[type="password"]
      width: 300px